<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">hibernate</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateexercises</property>
        <property name="hibernate.connection.username">hibernate</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        <property name="show_sql">true</property>
        
        <mapping resource="clases/Departamentos.hbm.xml"/>
        <mapping resource="clases/Empleados.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
